---
import { ClientRouter } from 'astro:transitions'
import config from '~/site-config.json'
import '~/styles/fonts.css'

type Props = {
  title?: string
  description?: string
  keywords?: string[]
  image?: string
}

const { title, description, image, keywords } = Astro.props

const canonicalURL = new URL(Astro.url.pathname, Astro.site)
const siteTitle = title ? title : config.title
const siteDescription = description ? description : config.description
const siteKeywords = keywords ? keywords : config.meta.keywords
const ogImage = new URL(image ? image : config.image, Astro.url).href
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<title>{siteTitle}</title>
<meta name="description" content={siteDescription} />
<meta name="keywords" content={siteKeywords.join(',')} />

<!-- Preload -->
<link
  rel="preload"
  href="/assets/fonts/ibm-plex-sans-variable.woff2"
  as="font"
  type="font/woff2"
  crossorigin
/>

<!-- Open Graph -->
<meta property="og:url" content={Astro.url.href} />
<meta property="og:title" content={siteTitle} />
<meta property="og:description" content={siteDescription} />
<meta property="og:image" content={ogImage} />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:creator" content={config.author.twitter} />
<meta name="twitter:title" content={siteTitle} />
<meta name="twitter:description" content={siteDescription} />
<meta name="twitter:image" content={ogImage} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Sitemap -->
<link rel="sitemap" href="/sitemap-index.xml" />

<!-- disable google translation -->
<meta name="google" content="notranslate" />

<!-- enable transitions -->
<ClientRouter fallback="none" />
